.ztable {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  height: 80vh;
  width: 100%;
  border: 1px solid #e2e2e2;
  overflow-x: auto;
  overflow-y: auto;
  display: block;                       /* スクロールバーを表示するのに重要 */ 
}

.ztable th,
.ztable td {
  white-space: nowrap;                  /* 折り返し防止で横スクロールを促す */
  padding: 0.5rem;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  font-size: 0.85rem;
  width: 120px;                         /* 列幅固定で安定 */
}

.ztable th:first-of-type,
.ztable td:first-of-type {
  border-left: 1px solid #e2e2e2;
}

.ztable thead th {
  border-top: 1px solid #e2e2e2;
  font-weight: normal;
  color: #ffffff;
  position: sticky;
  top: 0;
  background: #355c83;
  z-index: 15;
}

/* ================================= */
/* 1列目固定（共通） */
.ztable th:first-of-type,
.ztable td:first-of-type {
  position: sticky;
  left: 0;
  background: #355c83;
  color: #ffffff;
  z-index: 10;
}

/* ================================= */
/* 固定列数ごとのクラス切り替え */

/* 1列固定 */
.ztable.fixed-1 th:nth-of-type(n+2),
.ztable.fixed-1 td:nth-of-type(n+2) {
  position: static; /* 2列目以降は固定しない */
}

/* 2列固定 */
.ztable.fixed-2 th:nth-of-type(2),
.ztable.fixed-2 td:nth-of-type(2) {
  position: sticky;
  left: 0px;       /* 1列目の幅分ずらす */
  background: #355c83;
  color: #ffffff;
  z-index: 9;
}

/* 3列固定 */
.ztable.fixed-3 th:nth-of-type(2),
.ztable.fixed-3 td:nth-of-type(2) {
  position: sticky;
  left: 0px;       /* 1列目の幅分 */
  background: #355c83;
  color: #ffffff;
  z-index: 9;
}

.ztable.fixed-3 th:nth-of-type(3),
.ztable.fixed-3 td:nth-of-type(3) {
  position: sticky;
  left: 0px;       /* 1列目 + 2列目の幅分 */
  background: #355c83;
  color: #ffffff;
  z-index: 8;
}
